h4 {
    color: rebeccapurple;
}

label {
    display: inline-block;
    width: 200px;
    margin: 5px;
    text-align: left;
}

input[type=text], input[type=password], select {
    display: inline-block;
    width: 200px;
}

button {
    padding: 5px;
    margin: 10px;
}
